PORT=4000
CLIENT_ORIGIN="http://localhost:5173"
JWT_SECRET="RANDOM-SECRET"

CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mbg_app?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/mbg_app?schema=public"
